.welcome-card-container {
    width: 400px;
    text-align: center;
    // padding: 10px;

    h3 {
        font-size: 30px;
        margin-bottom: 20px;
        color: #1b1a1a;
        font-family: 500;
    }

    p {
        font-size: 16px;
        line-height: 30px;
        color: #7e7e7e;
    }
}